{% extends 'base.html' %}

{% block content %}
  <h3>What is SeRAJ?</h3>
  <p>SeRAJ is a room reservation system where professors and their TAs can request to reserve rooms, computer sites and conference rooms.
        These requests will be processed by the educational administratives.</p>

  <hr>

  <p>
    If you already have an account, go ahead and <a href="{% url 'login' %}">log in</a>.
      If you are new to SeRAJ, register <a href="{% url 'professors:signup' %}">as a professor</a> or <a href="{% url 'students:signup' %}">as a student.</a>.
  </p>

{% endblock %}
